In [1]:
import pandas as pd

In [2]:
#reading the file
df_Gucci_US = pd.read_csv('data/df_Gucci_US.csv')

In [3]:
# checking the null values in each dataframe
# it will give us the count of null values in each column
count_null_values = df_Gucci_US.isnull().sum()
print("Number of null values")
print(count_null_values)

# Drop rows containing any null value
df_Gucci_US = df_Gucci_US.dropna()

Number of null values
Unnamed: 0         0
website_name       0
competence_date    0
country_code       0
currency_code      0
brand              0
category1_code     0
category2_code     0
category3_code     0
product_code       0
title              0
itemurl            0
imageurl           0
full_price         0
price              0
full_price_eur     0
price_eur          0
flg_discount       0
dtype: int64

In [4]:
#dropping the unnamed: 0 column as it is duplicate
df_Gucci_US = df_Gucci_US.drop(columns=['Unnamed: 0'])

### Check for duplicate rows

In [5]:
duplicate_rows = df_Gucci_US.duplicated().sum()
print("Number of duplicate rows:", duplicate_rows)

Number of duplicate rows: 0

### Checking Outliers

In [6]:
# Find the lowest value in column 'full_price'
lowest_value_Gucci_US = df_Gucci_US['full_price'].min()
print("Lowest Value Gucci Product:", lowest_value_Gucci_US)

# Find the highest value in column 'full_price'
highest_value__Gucci_US = df_Gucci_US['full_price'].max()
print("Highest Value Gucci Product:", highest_value__Gucci_US)

Lowest Value Gucci Product: 33.0
Highest Value Gucci Product: 70000.0

In [25]:
# checking which products comes in lowest value range to see the outliers
lowest_value_product = df_Gucci_US[df_Gucci_US['full_price'] < 200]
lowest_value_product.groupby(['category1_code']).agg({"full_price": "mean"})

                       full_price
category1_code
ACCESSORIES-FOR-MEN    175.000000
ACCESSORIES-FOR-WOMEN  194.000000
BABY                   166.875000
BOYS                   175.000000
FRAGRANCES             142.437500
GIFT-IDEAS              45.000000
GIFTS-FOR-WOMEN        149.000000
GIRLS                  134.722222
GUCCI-DECOR             90.000000
MAKE-UP                 53.929889
TRAVEL-FOR-WOMEN       130.000000

In [33]:
# checking which products comes in highest value range to see the outliers
highest_value_product = df_Gucci_US[df_Gucci_US['full_price'] >= 30000]
highest_value_product.groupby(['category1_code']).agg({"full_price": "mean"})

                     full_price
category1_code
BAGS-FOR-MEN       55900.000000
GUCCI-BAMBOO-1947  46200.000000
GUCCI-DECOR        34222.222222
HANDBAGS           34800.000000

In [17]:
# checking average price per category
avg_price_per_category = df_Gucci_US.groupby(['category1_code']).agg({"full_price": "mean", "price": "count", "category2_code" : "count"})

#sorting it
avg_price_per_category_sorted = avg_price_per_category.sort_values(by='full_price', ascending=True)
avg_price_per_category_sorted

                                           full_price  price  category2_code
category1_code
GIFT-IDEAS                                  45.000000      1               1
MAKE-UP                                     53.929889    271             271
FRAGRANCES                                 243.689655     29              29
ACCESSORIES-FOR-MEN                        475.585586    444             444
BABY                                       487.606178    259             259
SILVER-JEWELRY                             507.564103    156             156
ACCESSORIES-FOR-WOMEN                      570.978261    414             414
GIRLS                                      577.070312    256             256
WALLETS-AND-SMALL-ACCESSORIES-FOR-MEN      627.564935    154             154
BOYS                                       632.521739    115             115
SMALL-LEATHER-GOODS-FOR-WOMEN              775.000000      2               2
WALLET-LEATHER-ACC-FOR-WOMEN               817.000000     10              10
WALLETS-AND-SMALL-ACCESSORIES-FOR-WOMEN    924.517766    197             197
FASHION-JEWELRY                            950.568182    176             176
SHOES-FOR-WOMEN                           1042.598522    406             406
SHOES-FOR-MEN                             1231.358696    276             276
GIFTS-FOR-MEN                             1533.421053     19              19
GIFTS-FOR-WOMEN                           1907.468750     32              32
READY-TO-WEAR-FOR-MEN                     1970.619308    549             549
GUCCI-COSMOGONIE                          2350.000000      1               1
GUCCI-TOWARDS-THE-SUN-FOR-WOMEN           2386.923077     13              13
READY-TO-WEAR-FOR-WOMEN                   2394.030418    526             526
TRAVEL-FOR-WOMEN                          2452.794118     68              68
GUCCI-TOWARDS-THE-SUN-FOR-MEN             2556.000000      5               5
WATCHES                                   2602.268041     97              97
MONOGRAM                                  2741.739130     23              23
NEW-IN                                    3023.684211     19              19
GUCCI-DECOR                               3039.263158    190             190
GUCCI-LOVE-PARADE-2022                    3097.500000      4               4
HANDBAGS                                  3398.791594    571             571
TRAVEL-FOR-MEN                            3416.410256     39              39
CORPORATE-BUSINESS-GIFTS                  3550.000000      1               1
FINE-JEWELRY                              4017.868852    122             122
BAGS-FOR-MEN                              4203.192308    260             260
N.A.                                      4630.833333     18              18
GUCCI-BAMBOO-1947                        10126.829268     41              41

In [41]:
# check which dates are present in dataset
check_dates = df_Gucci_US['competence_date'].unique()
check_dates

array(['2023-09-07'], dtype=object)

In [42]:
# checking discount values (0 or 1)
df_discount = df_Gucci_US['flg_discount'].unique()
df_discount

array([0])

In [46]:
# checking category of bags

df_bags = df_Gucci_US[df_Gucci_US['category1_code'] == "HANDBAGS"]
df_bags_category = df_bags['category2_code'].unique()
print("Bags Category1:\n" , df_bags_category)

# checking category 2 of bags
df_bags_category_2 = df_bags['category3_code'].unique()
print("Bags Category2:\n" , df_bags_category_2)

Bags Category1:
 ['CLUTCHES-EVENING-BAGS-FOR-WOMEN' 'TOTE-BAGS-FOR-WOMEN'
 'TOP-HANDLE-BAGS-FOR-WOMEN' 'SHOULDER-BAGS-FOR-WOMEN'
 'CROSSBODY-BAGS-FOR-WOMEN' 'MINI-BAGS-FOR-WOMEN'
 'BACKPACKS-BELT-BAGS-FOR-WOMEN' 'PRECIOUS-HANDBAGS-FOR-WOMEN'
 'BELT-BAGS-SLINGBAG-FOR-MEN']
Bags Category2:
 ['N.A.' 'CHAIN-BAGS-FOR-WOMEN' 'HALF-MOON-BAGS-FOR-WOMEN'
 'CAMERA-BAGS-FOR-WOMEN' 'BUCKET-BAGS-FOR-WOMEN' 'BOWLING-BAGS-FOR-WOMEN']